/**
 * 版本号
 */
$version:'?v=201606031701';
/**
 * 背景图相对路径
 */
$url:'../images/';
/**
 * 颜色变量
 */
$color-gray-dark:#333; 
$color-gray:#666; 
$color-gray-light:#999;
$color-orange-dark:#ec772c;
$color-orange:#ff7900; 
$color-orange-light:#fd7923;
$color-green:#30c26d;
$color-white:#FFF;
$color-black:#000;
/**
 * 字体大小变量
 */
$font-size-largest:24px;
$font-size-larger:20px;
$font-size-large:16px;
$font-size:14px;
$font-size-small:12px;
